## Limitar el número de filas devueltas por una consulta SELECT
A menudo no es conveniente mostrar todas las filas en pantalla ya que hay que desplazarse. Podemos utilizar la cláusula LIMIT de SQLite para restringir el número de filas devueltas por una consulta. Esto puede utilizarse para realizar pruebas o para evitar el consumo excesivo de recursos si la consulta devuelve más información de la esperada.

A continuación se ilustra la sintaxis de la cláusula LIMIT:

SELECT lista_de_columnas FROM nombre_de_tabla LIMIT número_de_filas;

In [1]:
!pip install ipython-sql sqlalchemy

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (1.4.37)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.4.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.3/42.3 kB 6.6 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (62.3.4)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (2.12.0)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.2.2.post1)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (3.0.29)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13695 sha256=73c16da4830367b759cfa2f8768990ccc752ca675c5ef34905c2c363ee207754
  Stored in directory: /home/jovyan/.cache/pip/wheels/25/4b/07/18c5d92824315576e478206ea69df34a9e31958f6143eb0e31
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2

In [ ]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## Conéctese a la base de datos dada de demo.db3

In [4]:
%sql sqlite:///data/demo.db3

## Recuperación de las 10 primeras filas de la tabla de watershed_yearly

In [5]:
%sql SELECT * From watershed_yearly LIMIT 10

 * sqlite:///data/demo.db3
Done.

[(1981, 895.6051025390625, 130.3574676513672, 51.33439254760742, 406.0739440917969, 443.198486328125, 0.0, 18819.70703125, 236.98300170898438, 840.6874389648438, 609.706787109375, 91.08026123046875, 0.03293686360120773, 0.06417319178581238, 5.615890026092529, 7.339915752410889, 11.857464790344238, 0.008220621384680271, 1.461671233177185, 0.0),
 (1982, 884.670654296875, 92.21265411376953, 50.34769058227539, 367.41070556640625, 424.6783752441406, 0.0, 19425.8359375, 256.79083251953125, 872.07470703125, 530.0245971679688, 64.80978393554688, 0.00797836109995842, 0.04918050765991211, 4.239809036254883, 7.676506042480469, 10.873835563659668, 0.007697358727455139, 1.343782901763916, 0.0),
 (1983, 816.6605224609375, 129.16310119628906, 54.47308349609375, 445.33306884765625, 462.76324462890625, 0.0, 18476.1953125, 237.70555114746094, 797.04736328125, 652.8157958984375, 92.04792785644531, 0.13790887594223022, 0.048595353960990906, 3.882063388824463, 7.301627159118652, 12.202207565307617, 0.015354366973042488, 1.5196093320846558, 0.0),
 (1984, 867.5743408203125, 95.57946014404297, 46.948646545410156, 347.2448425292969, 408.5397033691406, 0.0, 17727.712890625, 223.08975219726562, 911.25634765625, 510.37933349609375, 63.0908203125, 0.01470834668725729, 0.0440557599067688, 5.141480922698975, 6.492110729217529, 10.941608428955078, 0.011575199663639069, 1.3742408752441406, 0.0),
 (1985, 637.7255249023438, 75.55760192871094, 45.336883544921875, 358.2953186035156, 361.4852294921875, 0.0, 15840.5400390625, 236.32135009765625, 990.8557739257812, 499.33990478515625, 49.63069152832031, 0.05470645800232887, 0.046555422246456146, 3.113034963607788, 6.522554874420166, 8.959033966064453, 0.010798747651278973, 1.1150814294815063, 0.0),
 (1986, 733.8412475585938, 65.63016510009766, 36.76259231567383, 241.9388427734375, 281.6683349609375, 0.0, 16059.4345703125, 243.0305633544922, 977.513427734375, 358.09368896484375, 48.7893180847168, 0.0010510582942515612, 0.040558818727731705, 2.8865158557891846, 6.505890369415283, 7.870068073272705, 0.013286528177559376, 0.970182478427887, 0.0),
 (1987, 1007.8944702148438, 110.28632354736328, 62.23741912841797, 445.5394592285156, 493.0043029785156, 0.0, 19541.869140625, 256.9570007324219, 841.0055541992188, 641.2118530273438, 76.02854919433594, 0.013590915128588676, 0.05216805264353752, 3.6147713661193848, 5.987320899963379, 14.57848834991455, 0.019578929990530014, 1.8156678676605225, 0.0),
 (1988, 895.8466186523438, 149.65235900878906, 61.493255615234375, 450.4956970214844, 493.1164245605469, 0.0, 17205.849609375, 220.8395233154297, 891.13330078125, 686.12744140625, 101.2978744506836, 0.025784092023968697, 0.04415411874651909, 3.241307258605957, 5.892490386962891, 13.989458084106445, 0.030675839632749557, 1.7415385246276855, 0.0),
 (1989, 930.10546875, 111.37128448486328, 57.6666145324707, 418.1727600097656, 474.9247741699219, 0.0, 17915.3359375, 208.58026123046875, 805.931884765625, 609.6959838867188, 74.79584503173828, 0.016387958079576492, 0.04736720025539398, 3.692014217376709, 5.3133368492126465, 10.229286193847656, 0.025520162656903267, 1.2660586833953857, 0.0),
 (1990, 751.4553833007812, 102.00208282470703, 54.310569763183594, 409.75189208984375, 435.1587829589844, 0.0, 16842.517578125, 213.63233947753906, 966.4890747070312, 589.3450317382812, 73.0428695678711, 0.007093863561749458, 0.04154253378510475, 3.0770206451416016, 5.872688293457031, 9.7684326171875, 0.025202790275216103, 1.2055107355117798, 0.0)]

## Nota
Algunos DBMSs ofrecen una sintaxis no estándar en lugar o además de la sintaxis estándar de SQL. Se pueden encontrar variantes de la consulta de límite simple para diferentes SGBD en https://en.wikipedia.org/wiki/Select_(SQL)

## Filtrar una consulta con WHERE

A veces, se querrá comprobar sólo las filas devueltas por una consulta, cuando una o más columnas cumplan ciertos criterios. Esto puede hacerse con una sentencia WHERE. La cláusula WHERE es una cláusula opcional de la sentencia SELECT. Aparece después de la cláusula FROM como la siguiente sentencia:

SELECT lista_de_columnas FROM nombre_de_tabla WHERE condición_de_búsqueda;

In [ ]:
%load_ext sql

## Conectarse con la base de datos dada de demo.db3

In [6]:
%sql sqlite:///data/demo.db3

If you do not remember the tables in the demo data, you can always use the follow command to query. Here we select the table of watershed_yearly as an example.

In [7]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///data/demo.db3
Done.

[('rch',),
 ('hru',),
 ('sub',),
 ('sed',),
 ('watershed_daily',),
 ('watershed_monthly',),
 ('watershed_yearly',),
 ('channel_dimension',),
 ('hru_info',),
 ('sub_info',),
 ('rch_info',),
 ('ave_plant',),
 ('ave_annual_hru',),
 ('ave_monthly_basin',),
 ('ave_annual_basin',),
 ('sqlite_sequence',),
 ('watershed_yearly_bk',),
 ('Temperature',),
 ('writer',)]

## Recuperación de datos con WHERE

Tomemos como ejemplo la tabla **rch**.

## Comprobemos primero las columnas de la tabla.

In [8]:
%sql SELECT * From rch LIMIT 5

 * sqlite:///data/demo.db3
Done.

[(1, 1981, 1, 146.34376525878906, 146.2524871826172, 0.09128088504076004, 0.0, 2.3320461650655488e-07, 61619.46484375, 155.3719024658203, 0.016086287796497345, 0.0, 0.04825887829065323, 0.0, 362.0486755371094, 361.8135070800781, 203.620849609375, 421.18377685546875, 0.0, 23.0184326171875, 0.016107244417071342, 0.0, 1.1839052307949238e-11, 0.0, 0.0, 0.0, 5627225.0, 5623486.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 806.0157470703125, 0.0, 0.0, 0.0),
 (2, 1981, 1, 96.22569274902344, 96.18285369873047, 0.042821284383535385, 0.0, 1.6426764659627224e-07, 0.0, 0.0, 0.01363153662532568, 0.0, 0.04089462012052536, 0.0, 315.60052490234375, 315.4579772949219, 0.0, 127.00502014160156, 0.0, 0.0, 0.013656049966812134, 0.0, 4.136972177163251e-16, 0.0, 0.0, 0.0, 3757606.5, 3698301.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 442.4630126953125, 0.0, 0.0, 0.0),
 (3, 1981, 1, 11.952718734741211, 11.861368179321289, 0.09135182946920395, 0.0, 2.0325823868461157e-07, 2.0325823868461157e-07, 6.595060941805286e-09, 0.01146628800779581, 0.0, 0.03439886122941971, 0.009118038229644299, 48.2963752746582, 47.93150329589844, 0.0, 62.467620849609375, 0.0, 0.0, 0.011485105380415916, 0.0, 5.941028783295818e-14, 0.0, 0.0, 0.0, 360979.90625, 456115.90625, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 110.39912414550781, 0.009118038229644299, 0.0, 0.0),
 (4, 1981, 1, 49.48649215698242, 49.40651321411133, 0.07998340576887131, 0.0, 3.913226720442253e-08, 0.0, 0.0, 0.00722243869677186, 0.0, 0.021667316555976868, 0.0, 46.54270553588867, 46.46895217895508, 0.0, 76.61585235595703, 0.0, 0.0, 0.0072422930970788, 0.0, 1.1632789449796794e-15, 0.0, 0.0, 0.0, 1160040.75, 1899717.625, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 123.08480834960938, 0.0, 0.0, 0.0),
 (5, 1981, 1, 274.0668029785156, 272.10601806640625, 1.9608064889907837, 0.0, 2257869.75, 116675.171875, 157.49276733398438, 1408498.0, 1259125.625, 501261.6875, 416320.25, 46281.1640625, 44271.08984375, 483.65142822265625, 1362.450439453125, 23.0184326171875, 66.76303100585938, 1289.9833984375, 3866.024169921875, 26296.953125, 0.0, 54013716.0, 21046212.0, 9425129.0, 9136200.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1304826.0, 420186.28125, 0.0, 0.0)]

## Compruebe el número de filas
Debería haber 8280 filas. Esto se puede hacer con la función COUNT de SQLite.

In [9]:
%sql SELECT COUNT(*) as nrow From rch

 * sqlite:///data/demo.db3
Done.

[(8280,)]

## Utilizar WHERE para recuperar datos
Supongamos que estamos interesados en los registros correspondientes únicamente al año 1981. Utilizar un WHERE es bastante sencillo para un criterio simple como éste.

In [12]:
%%sql 
SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch 
WHERE YR=1981

 * sqlite:///data/demo.db3
Done.

[(1, 1981, 1, 146.34376525878906, 146.2524871826172),
 (2, 1981, 1, 96.22569274902344, 96.18285369873047),
 (3, 1981, 1, 11.952718734741211, 11.861368179321289),
 (4, 1981, 1, 49.48649215698242, 49.40651321411133),
 (5, 1981, 1, 274.0668029785156, 272.10601806640625),
 (6, 1981, 1, 486.71063232421875, 486.3185729980469),
 (7, 1981, 1, 23.57549476623535, 23.289026260375977),
 (8, 1981, 1, 215.61805725097656, 214.28143310546875),
 (9, 1981, 1, 193.72772216796875, 193.4912109375),
 (10, 1981, 1, 53.9464225769043, 53.8569450378418),
 (11, 1981, 1, 169.81475830078125, 169.1501922607422),
 (12, 1981, 1, 92.62444305419922, 92.46011352539062),
 (13, 1981, 1, 26.333988189697266, 26.210729598999023),
 (14, 1981, 1, 14.963179588317871, 14.953019142150879),
 (15, 1981, 1, 20.569297790527344, 19.898130416870117),
 (16, 1981, 1, 31.927724838256836, 31.78667640686035),
 (17, 1981, 1, 1.9374274015426636, 1.9351587295532227),
 (18, 1981, 1, 9.377657890319824, 9.312582015991211),
 (19, 1981, 1, 5.654135704040527, 5.640942573547363),
 (20, 1981, 1, 24.297531127929688, 24.232725143432617),
 (21, 1981, 1, 4.316850185394287, 4.30960750579834),
 (22, 1981, 1, 11.249781608581543, 10.796460151672363),
 (23, 1981, 1, 4.4461669921875, 4.4037604331970215),
 (1, 1981, 2, 84.85591888427734, 84.78033447265625),
 (2, 1981, 2, 56.372833251953125, 56.313358306884766),
 (3, 1981, 2, 6.145504951477051, 6.047662734985352),
 (4, 1981, 2, 28.14598846435547, 28.03248405456543),
 (5, 1981, 2, 469.5555419921875, 466.4051513671875),
 (6, 1981, 2, 848.658935546875, 847.9338989257812),
 (7, 1981, 2, 127.24232482910156, 126.8682632446289),
 (8, 1981, 2, 381.5965270996094, 379.1250305175781),
 (9, 1981, 2, 226.3321075439453, 225.98611450195312),
 (10, 1981, 2, 29.24818229675293, 29.110872268676758),
 (11, 1981, 2, 83.99790954589844, 83.50083923339844),
 (12, 1981, 2, 43.84885787963867, 43.62006759643555),
 (13, 1981, 2, 15.831439971923828, 15.73555850982666),
 (14, 1981, 2, 8.46049690246582, 8.452710151672363),
 (15, 1981, 2, 129.9334259033203, 128.8990020751953),
 (16, 1981, 2, 11.670403480529785, 11.452507019042969),
 (17, 1981, 2, 1.1498831510543823, 1.1437357664108276),
 (18, 1981, 2, 5.573782920837402, 5.494256019592285),
 (19, 1981, 2, 2.970590114593506, 2.957815408706665),
 (20, 1981, 2, 7.203157424926758, 7.103916645050049),
 (21, 1981, 2, 2.590414047241211, 2.581570863723755),
 (22, 1981, 2, 7.2724690437316895, 6.881773948669434),
 (23, 1981, 2, 2.66581130027771, 2.6104588508605957),
 (1, 1981, 3, 76.39450073242188, 76.10173797607422),
 (2, 1981, 3, 31.04990005493164, 31.003488540649414),
 (3, 1981, 3, 4.259443759918213, 4.0917744636535645),
 (4, 1981, 3, 13.874382972717285, 13.706125259399414),
 (5, 1981, 3, 709.7574462890625, 706.848388671875),
 (6, 1981, 3, 1314.4405517578125, 1313.2958984375),
 (7, 1981, 3, 253.1029815673828, 252.57357788085938),
 (8, 1981, 3, 602.877685546875, 598.978515625),
 (9, 1981, 3, 320.0663757324219, 319.55841064453125),
 (10, 1981, 3, 8.964656829833984, 8.776240348815918),
 (11, 1981, 3, 43.89173126220703, 43.253204345703125),
 (12, 1981, 3, 16.248170852661133, 15.957819938659668),
 (13, 1981, 3, 11.98611068725586, 11.75150203704834),
 (14, 1981, 3, 4.682745456695557, 4.663994789123535),
 (15, 1981, 3, 216.40835571289062, 215.00881958007812),
 (16, 1981, 3, 5.827881813049316, 5.563807964324951),
 (17, 1981, 3, 0.5862327218055725, 0.5696054697036743),
 (18, 1981, 3, 3.1181764602661133, 3.0503299236297607),
 (19, 1981, 3, 1.6415528059005737, 1.6277210712432861),
 (20, 1981, 3, 3.441338062286377, 3.2766103744506836),
 (21, 1981, 3, 1.4438132047653198, 1.4362835884094238),
 (22, 1981, 3, 7.944364070892334, 7.033697605133057),
 (23, 1981, 3, 1.4858719110488892, 1.4109132289886475),
 (1, 1981, 4, 113.28621673583984, 112.3453369140625),
 (2, 1981, 4, 10.982606887817383, 10.890130996704102),
 (3, 1981, 4, 33.0489387512207, 32.84563064575195),
 (4, 1981, 4, 4.7736496925354, 4.459959030151367),
 (5, 1981, 4, 888.4221801757812, 882.7030029296875),
 (6, 1981, 4, 1953.3924560546875, 1952.2164306640625),
 (7, 1981, 4, 322.49725341796875, 321.7943420410156),
 (8, 1981, 4, 1063.93408203125, 1059.9271240234375),
 (9, 1981, 4, 705.5858764648438, 705.0225830078125),
 (10, 1981, 4, 14.47266674041748, 14.112871170043945),
 (11, 1981, 4, 353.94696044921875, 352.9947509765625),
 (12, 1981, 4, 25.661710739135742, 24.76134490966797),
 (13, 1981, 4, 246.52560424804688, 246.1806640625),
 (14, 1981, 4, 31.783952713012695, 31.756671905517578),
 (15, 1981, 4, 266.3102111816406, 264.7311096191406),
 (16, 1981, 4, 8.946057319641113, 8.076467514038086),
 (17, 1981, 4, 0.3183255195617676, 0.28104352951049805),
 (18, 1981, 4, 1.3510197401046753, 0.9878991842269897),
 (19, 1981, 4, 29.641956329345703, 29.5858097076416),
 (20, 1981, 4, 1.6486221551895142, 1.4588907957077026),
 (21, 1981, 4, 0.9075742363929749, 0.8672612309455872),
 (22, 1981, 4, 162.1475067138672, 160.70191955566406),
 (23, 1981, 4, 1.1651333570480347, 0.9744809865951538),
 (1, 1981, 5, 100.62001037597656, 97.28329467773438),
 (2, 1981, 5, 8.11182689666748, 8.040688514709473),
 (3, 1981, 5, 871.1177368164062, 870.2960205078125),
 (4, 1981, 5, 11.68616771697998, 11.30402660369873),
 (5, 1981, 5, 1665.54931640625, 1652.77099609375),
 (6, 1981, 5, 8009.71044921875, 8006.85400390625),
 (7, 1981, 5, 259.010009765625, 257.6568298339844),
 (8, 1981, 5, 6357.578125, 6347.859375),
 (9, 1981, 5, 6059.88818359375, 6058.6083984375),
 (10, 1981, 5, 283.8179626464844, 283.138671875),
 (11, 1981, 5, 5789.78857421875, 5779.33251953125),
 (12, 1981, 5, 1181.4305419921875, 1180.0986328125),
 (13, 1981, 5, 1112.368896484375, 1111.7200927734375),
 (14, 1981, 5, 380.40228271484375, 380.35504150390625),
 (15, 1981, 5, 222.10504150390625, 218.8110809326172),
 (16, 1981, 5, 705.462158203125, 703.9224853515625),
 (17, 1981, 5, 112.31466674804688, 112.0840835571289),
 (18, 1981, 5, 352.7895202636719, 351.6276550292969),
 (19, 1981, 5, 27.58653450012207, 27.530590057373047),
 (20, 1981, 5, 251.1407470703125, 250.66552734375),
 (21, 1981, 5, 181.30287170410156, 181.17335510253906),
 (22, 1981, 5, 672.0623168945312, 670.9138793945312),
 (23, 1981, 5, 196.24691772460938, 195.82498168945312),
 (1, 1981, 6, 262.6936340332031, 258.3166198730469),
 (2, 1981, 6, 69.1297378540039, 69.00059509277344),
 (3, 1981, 6, 440.3125915527344, 438.84381103515625),
 (4, 1981, 6, 135.95555114746094, 135.4774627685547),
 (5, 1981, 6, 1231.2115478515625, 1211.47802734375),
 (6, 1981, 6, 4850.9365234375, 4847.083984375),
 (7, 1981, 6, 173.67694091796875, 171.77842712402344),
 (8, 1981, 6, 3646.698486328125, 3633.58837890625),
 (9, 1981, 6, 3447.75244140625, 3445.91455078125),
 (10, 1981, 6, 295.1305847167969, 294.55035400390625),
 (11, 1981, 6, 3284.65380859375, 3261.925048828125),
 (12, 1981, 6, 981.0571899414062, 979.6323852539062),
 (13, 1981, 6, 843.3867797851562, 842.5662231445312),
 (14, 1981, 6, 328.0318298339844, 327.9722595214844),
 (15, 1981, 6, 151.17367553710938, 146.48959350585938),
 (16, 1981, 6, 506.21014404296875, 504.1758117675781),
 (17, 1981, 6, 62.00202941894531, 61.80619430541992),
 (18, 1981, 6, 288.2204284667969, 286.9231872558594),
 (19, 1981, 6, 40.15439987182617, 40.110069274902344),
 (20, 1981, 6, 260.2379150390625, 259.8540954589844),
 (21, 1981, 6, 134.33847045898438, 134.1928253173828),
 (22, 1981, 6, 465.6315612792969, 463.37921142578125),
 (23, 1981, 6, 142.71295166015625, 142.2458038330078),
 (1, 1981, 7, 3227.131103515625, 3221.74072265625),
 (2, 1981, 7, 1406.1968994140625, 1405.607666015625),
 (3, 1981, 7, 348.38592529296875, 346.4898681640625),
 (4, 1981, 7, 1793.2086181640625, 1792.4322509765625),
 (5, 1981, 7, 3911.891845703125, 3892.291259765625),
 (6, 1981, 7, 7727.927734375, 7723.72216796875),
 (7, 1981, 7, 103.77598571777344, 101.71813201904297),
 (8, 1981, 7, 3846.445068359375, 3832.15966796875),
 (9, 1981, 7, 3743.966064453125, 3742.0390625),
 (10, 1981, 7, 914.5076904296875, 913.3176879882812),
 (11, 1981, 7, 3664.947265625, 3633.758056640625),
 (12, 1981, 7, 1543.2772216796875, 1539.4879150390625),
 (13, 1981, 7, 963.8184814453125, 962.1199951171875),
 (14, 1981, 7, 572.2147827148438, 572.0892333984375),
 (15, 1981, 7, 76.39987182617188, 71.29752349853516),
 (16, 1981, 7, 471.6324157714844, 467.8399963378906),
 (17, 1981, 7, 46.45765686035156, 46.12605667114258),
 (18, 1981, 7, 234.2579803466797, 231.6295623779297),
 (19, 1981, 7, 340.1886901855469, 339.892578125),
 (20, 1981, 7, 266.3910217285156, 265.83343505859375),
 (21, 1981, 7, 111.28022766113281, 110.98563385009766),
 (22, 1981, 7, 359.2114562988281, 354.9750061035156),
 (23, 1981, 7, 114.01341247558594, 113.25325775146484),
 (1, 1981, 8, 1313.5548095703125, 1308.919677734375),
 (2, 1981, 8, 831.6567993164062, 830.8473510742188),
 (3, 1981, 8, 223.1786346435547, 221.5281982421875),
 (4, 1981, 8, 481.6354675292969, 480.853515625),
 (5, 1981, 8, 1730.936279296875, 1713.8548583984375),
 (6, 1981, 8, 3883.90576171875, 3880.37548828125),
 (7, 1981, 8, 19.037914276123047, 17.079687118530273),
 (8, 1981, 8, 2181.504638671875, 2169.496826171875),
 (9, 1981, 8, 2173.205078125, 2171.444091796875),
 (10, 1981, 8, 484.74664306640625, 483.5436706542969),
 (11, 1981, 8, 2180.650146484375, 2153.10107421875),
 (12, 1981, 8, 915.4993896484375, 912.75732421875),
 (13, 1981, 8, 526.1477661132812, 525.0769653320312),
 (14, 1981, 8, 281.4003601074219, 281.322509765625),
 (15, 1981, 8, 7.9391655921936035, 3.251664161682129),
 (16, 1981, 8, 316.2207336425781, 313.2410583496094),
 (17, 1981, 8, 28.74099349975586, 28.461780548095703),
 (18, 1981, 8, 149.41946411132812, 147.24989318847656),
 (19, 1981, 8, 134.0355987548828, 133.73037719726562),
 (20, 1981, 8, 185.15713500976562, 184.92955017089844),
 (21, 1981, 8, 71.20135498046875, 70.95768737792969),
 (22, 1981, 8, 225.5265350341797, 222.42129516601562),
 (23, 1981, 8, 72.13587951660156, 71.50173950195312),
 (1, 1981, 9, 1124.6080322265625, 1120.9515380859375),
 (2, 1981, 9, 725.4627685546875, 724.8314208984375),
 (3, 1981, 9, 130.81338500976562, 129.493408203125),
 (4, 1981, 9, 399.0051574707031, 398.3822937011719),
 (5, 1981, 9, 1336.862060546875, 1322.876953125),
 (6, 1981, 9, 2703.627197265625, 2700.8212890625),
 (7, 1981, 9, 5.521786212921143, 3.9414021968841553),
 (8, 1981, 9, 1390.1297607421875, 1380.586181640625),
 (9, 1981, 9, 1389.17919921875, 1387.77734375),
 (10, 1981, 9, 395.6681823730469, 395.08782958984375),
 (11, 1981, 9, 1406.952392578125, 1384.635009765625),
 (12, 1981, 9, 646.4761962890625, 644.0316772460938),
 (13, 1981, 9, 328.9361572265625, 327.8607482910156),
 (14, 1981, 9, 186.7610321044922, 186.6810760498047),
 (15, 1981, 9, 4.1748504638671875, 0.5297763347625732),
 (16, 1981, 9, 179.72634887695312, 177.12977600097656),
 (17, 1981, 9, 7.198458671569824, 7.0018815994262695),
 (18, 1981, 9, 87.61351776123047, 85.93462371826172),
 (19, 1981, 9, 100.64956665039062, 100.58440399169922),
 (20, 1981, 9, 112.39119720458984, 111.9441146850586),
 (21, 1981, 9, 41.77436065673828, 41.58638381958008),
 (22, 1981, 9, 131.20797729492188, 129.3788604736328),
 (23, 1981, 9, 42.17023468017578, 41.6853141784668),
 (1, 1981, 10, 754.7601928710938, 753.4493408203125),
 (2, 1981, 10, 497.29791259765625, 497.26019287109375),
 (3, 1981, 10, 81.56842803955078, 81.17040252685547),
 (4, 1981, 10, 255.2347869873047, 255.06654357910156),
 (5, 1981, 10, 862.9088745117188, 855.0828247070312),
 (6, 1981, 10, 1715.89404296875, 1714.4075927734375),
 (7, 1981, 10, 4.325099468231201, 3.6036462783813477),
 (8, 1981, 10, 865.7444458007812, 860.6851196289062),
 (9, 1981, 10, 863.42431640625, 862.7537841796875),
 (10, 1981, 10, 283.00836181640625, 282.70489501953125),
 (11, 1981, 10, 864.735107421875, 859.3717041015625),
 (12, 1981, 10, 426.67254638671875, 426.1946716308594),
 (13, 1981, 10, 176.9633331298828, 176.5959014892578),
 (14, 1981, 10, 106.03862762451172, 106.01016235351562),
 (15, 1981, 10, 3.528832197189331, 1.7222462892532349),
 (16, 1981, 10, 101.48471069335938, 100.96350860595703),
 (17, 1981, 10, 3.643705368041992, 3.581543207168579),
 (18, 1981, 10, 43.476104736328125, 43.17469787597656),
 (19, 1981, 10, 62.805599212646484, 62.75946807861328),
 (20, 1981, 10, 64.46240997314453, 64.25182342529297),
 (21, 1981, 10, 20.386476516723633, 20.353069305419922),
 (22, 1981, 10, 66.02291870117188, 65.05998992919922),
 (23, 1981, 10, 20.023418426513672, 19.887006759643555),
 (1, 1981, 11, 455.7989807128906, 454.80657958984375),
 (2, 1981, 11, 301.04302978515625, 300.9889831542969),
 (3, 1981, 11, 43.55038070678711, 43.2350959777832),
 (4, 1981, 11, 154.0652313232422, 153.93655395507812),
 (5, 1981, 11, 515.9913330078125, 508.7119445800781),
 (6, 1981, 11, 967.751953125, 966.5123901367188),
 (7, 1981, 11, 4.036836624145508, 3.354184865951538),
 (8, 1981, 11, 463.1518249511719, 458.9301452636719),
 (9, 1981, 11, 460.8150634765625, 460.2038269042969),
 (10, 1981, 11, 180.46812438964844, 180.268310546875),
 (11, 1981, 11, 461.6806945800781, 457.14886474609375),
 (12, 1981, 11, 253.93084716796875, 253.54547119140625),
 (13, 1981, 11, 71.3385238647461, 71.11405181884766),
 (14, 1981, 11, 49.307861328125, 49.28943634033203),
 (15, 1981, 11, 3.6917033195495605, 2.069857358932495),
 (16, 1981, 11, 50.113746643066406, 49.75544357299805),
 (17, 1981, 11, 2.447206735610962, 2.429715394973755),
 (18, 1981, 11, 13.137421607971191, 12.944046020507812),
 (19, 1981, 11, 36.361244201660156, 36.33055877685547),
 (20, 1981, 11, 36.04379653930664, 35.86702346801758),
 (21, 1981, 11, 6.2915520668029785, 6.270081996917725),
 (22, 1981, 11, 20.997007369995117, 20.231201171875),
 (23, 1981, 11, 6.265110492706299, 6.179070949554443),
 (1, 1981, 12, 261.2417297363281, 261.1206359863281),
 (2, 1981, 12, 172.4866485595703, 172.44989013671875),
 (3, 1981, 12, 19.75959014892578, 19.66830825805664),
 (4, 1981, 12, 88.28974914550781, 88.2150650024414),
 (5, 1981, 12, 310.2230529785156, 305.4032287597656),
 (6, 1981, 12, 575.5040893554688, 574.7108154296875),
 (7, 1981, 12, 5.739493370056152, 5.2621002197265625),
 (8, 1981, 12, 272.6112060546875, 269.9090270996094),
 (9, 1981, 12, 268.8525695800781, 268.44073486328125),
 (10, 1981, 12, 105.92308807373047, 105.82415771484375),
 (11, 1981, 12, 263.5941467285156, 262.9732360839844),
 (12, 1981, 12, 134.2644500732422, 134.1115264892578),
 (13, 1981, 12, 40.112457275390625, 39.98011779785156),
 (14, 1981, 12, 28.09064292907715, 28.07967185974121),
 (15, 1981, 12, 4.382839679718018, 3.29067325592041),
 (16, 1981, 12, 18.314638137817383, 18.181163787841797),
 (17, 1981, 12, 1.4957925081253052, 1.4898592233657837),
 (18, 1981, 12, 7.753018379211426, 7.687811374664307),
 (19, 1981, 12, 20.395456314086914, 20.383081436157227),
 (20, 1981, 12, 11.454695701599121, 11.34115219116211),
 (21, 1981, 12, 3.706450939178467, 3.699186086654663),
 (22, 1981, 12, 11.384257316589355, 10.962510108947754),
 (23, 1981, 12, 3.687631845474243, 3.6421847343444824)]

## Más combinaciones de filtros
También podemos filtrar aún más los datos con los operadores de != o <> para obtener datos excepto 1981..

In [13]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR<>1981 and RCH=10 and MO=6

 * sqlite:///data/demo.db3
Done.

[(10, 1982, 6, 302.1027526855469, 301.51776123046875),
 (10, 1983, 6, 365.0164489746094, 364.4071350097656),
 (10, 1984, 6, 449.14593505859375, 447.8120422363281),
 (10, 1985, 6, 758.1435546875, 756.645263671875),
 (10, 1986, 6, 870.4126586914062, 869.0577392578125),
 (10, 1987, 6, 1056.3834228515625, 1055.8485107421875),
 (10, 1988, 6, 1113.9349365234375, 1112.7064208984375),
 (10, 1989, 6, 987.1399536132812, 986.5767822265625),
 (10, 1990, 6, 545.1495361328125, 543.622314453125),
 (10, 1991, 6, 773.328369140625, 772.1046142578125),
 (10, 1992, 6, 1428.335205078125, 1427.2901611328125),
 (10, 1993, 6, 885.8368530273438, 884.7728271484375),
 (10, 1994, 6, 471.22509765625, 469.3407897949219),
 (10, 1995, 6, 804.1304931640625, 803.6923217773438),
 (10, 1996, 6, 204.2549285888672, 203.7519073486328),
 (10, 1997, 6, 956.5918579101562, 955.3634033203125),
 (10, 1998, 6, 644.8356323242188, 644.2622680664062),
 (10, 1999, 6, 627.244873046875, 626.6397705078125),
 (10, 2000, 6, 366.44378662109375, 364.9014587402344),
 (10, 2001, 6, 302.4004821777344, 301.08233642578125),
 (10, 2002, 6, 334.6274108886719, 333.0640869140625),
 (10, 2003, 6, 442.1368713378906, 440.74493408203125),
 (10, 2004, 6, 509.4557189941406, 508.1041259765625),
 (10, 2005, 6, 645.0547485351562, 643.6062622070312),
 (10, 2006, 6, 406.5262451171875, 405.03045654296875),
 (10, 2007, 6, 553.6290283203125, 552.2628173828125),
 (10, 2008, 6, 365.6402893066406, 364.3846130371094),
 (10, 2009, 6, 600.4702758789062, 599.0214233398438),
 (10, 2010, 6, 736.3016357421875, 734.9920654296875)]

Podemos filtrar los datos a meses específicos utilizando la sentencia OR. Por ejemplo, queremos comprobar los datos de los meses 3, 6 y 9. Sin embargo, tenemos que usar () para hacerlos como una condición. Es un truco. Puedes intentarlo.

In [14]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR>2009 and RCH=10 and (MO=3 or MO=6 or MO=9 or MO=12)

 * sqlite:///data/demo.db3
Done.

[(10, 2010, 3, 3.4298956394195557, 3.0846056938171387),
 (10, 2010, 6, 736.3016357421875, 734.9920654296875),
 (10, 2010, 9, 218.40797424316406, 218.24456787109375),
 (10, 2010, 12, 36.9558219909668, 36.877464294433594)]

Or we can simplify the above filter using the IN statement.

In [15]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR>2009 and RCH=10 and MO in (3, 6, 9, 12)

 * sqlite:///data/demo.db3
Done.

[(10, 2010, 3, 3.4298956394195557, 3.0846056938171387),
 (10, 2010, 6, 736.3016357421875, 734.9920654296875),
 (10, 2010, 9, 218.40797424316406, 218.24456787109375),
 (10, 2010, 12, 36.9558219909668, 36.877464294433594)]

O los meses que **NO** están en 3, 6, 9, 12

In [16]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR>2009 and RCH=10 and MO NOT IN (3,6,9,12)

 * sqlite:///data/demo.db3
Done.

[(10, 2010, 1, 9.619468688964844, 9.422823905944824),
 (10, 2010, 2, 6.129702091217041, 5.864690780639648),
 (10, 2010, 4, 258.67010498046875, 258.1203918457031),
 (10, 2010, 5, 1513.6510009765625, 1512.5479736328125),
 (10, 2010, 7, 583.045654296875, 582.3214721679688),
 (10, 2010, 8, 371.0841369628906, 370.7648010253906),
 (10, 2010, 10, 123.48409271240234, 123.36622619628906),
 (10, 2010, 11, 68.6158676147461, 68.5250473022461)]

## Filtrar con operadores matemáticos
Por ejemplo, podemos utilizar el operador de módulo (%) para filtrar las MO.

In [17]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR>2009 and RCH=10 and MO % 3 = 0

 * sqlite:///data/demo.db3
Done.

[(10, 2010, 3, 3.4298956394195557, 3.0846056938171387),
 (10, 2010, 6, 736.3016357421875, 734.9920654296875),
 (10, 2010, 9, 218.40797424316406, 218.24456787109375),
 (10, 2010, 12, 36.9558219909668, 36.877464294433594)]

## Resumen
En la sentencia WHERE, podemos las combinaciones de NOT, IN, <>, !=, >=, >, <, <=, AND, OR, () e incluso algunos operadores matemáticos (como %, *, /, +, -)para recuperar los datos que queremos de forma fácil y eficiente.

## Sigamos

### Haciendo matemáticas a través de las columnas de la tabla
Como ya sabemos, la base de datos de demostración (es decir, demo.db3) se extrajo de una modelación hidrológica numérica. Los principales tipos de datos son enteros, decimales o puntos flotantes. Es muy natural que queramos realizar algunos cálculos o análisis estadísticos. SQL puede manejar cálculos que van desde las matemáticas básicas hasta las estadísticas avanzadas.

Operadores matemáticos básicos

- + Suma
- - Sustracción
- * Multiplicación
- / División (devuelve sólo el cociente, no el resto)
- Modulo (devuelve sólo el resto)
- ^ Potenciación
- Otros

Vamos a intentar utilizar los operadores matemáticos de SQL más utilizados en los datos de la demostración. En lugar de utilizar números en las consultas, utilizaremos los nombres de las columnas que contienen los números. Cuando ejecutemos la consulta, el cálculo se producirá en cada fila de la tabla.

In [ ]:
%load_ext sql
%sql sqlite:///data/demo.db3

## Probar el operador matemático de forma sencilla
Utilizando la sentencia SELECT, podemos probar fácilmente los operadores matemáticos.

In [18]:
%sql SELECT 3+4

 * sqlite:///data/demo.db3
Done.

[(7,)]

In [19]:
%sql SELECT 12 * 4

 * sqlite:///data/demo.db3
Done.

[(48,)]

In [20]:
%sql SELECT 12 % 4

 * sqlite:///data/demo.db3
Done.

[(0,)]

In [22]:
%sql SELECT round(123.456,2) as Rounded

 * sqlite:///data/demo.db3
Done.

[(123.46,)]

## Haciendo matemáticas a través de las columnas de la tabla
Tome la tabla watershed_monthly como ejemplo

### Compruebe primero las columnas de la tabla.

In [23]:
%sql SELECT * From watershed_monthly LIMIT 3

 * sqlite:///data/demo.db3
Done.

[(1981, 1, 96.2901611328125, 0.5159813761711121, 0.4125469923019409, 6.688113689422607, 19.906705856323242, 0.0, 1854.2242431640625, 6.871741771697998, 12.269017219543457, 8.681976318359375, 0.17933471500873566, 0.00021739966177847236, 0.0022701763082295656, 1.3104768991470337, 0.0, 0.1262282431125641, 0.00011268912930972874, 0.015406808815896511, 0.0),
 (1981, 2, 160.22804260253906, 3.346802234649658, 0.6452788710594177, 9.148776054382324, 34.36812210083008, 0.0, 1766.2530517578125, 9.165532112121582, 14.773177146911621, 13.862184524536133, 1.2127171754837036, 0.0006267096032388508, 0.001955678453668952, 1.174126386642456, 0.0, 0.8965995907783508, 0.0005604379111900926, 0.10999998450279236, 0.0),
 (1981, 3, 136.6529083251953, 3.8249943256378174, 1.4813165664672852, 18.518495559692383, 34.367244720458984, 0.0, 1990.7535400390625, 13.520476341247559, 23.363500595092773, 25.018510818481445, 1.2629601955413818, 0.0008495681686326861, 0.007548550609499216, 0.5044968724250793, 0.0, 0.6799346208572388, 0.0005445934948511422, 0.08338834345340729, 0.0)]

## Calcular la diferencia entre dos columnas
Por ejemplo, nos interesa la diferencia entre la evapotranspiración potencial (PET_mm) y la precipitación (PREC_mm). Es el llamado Déficit de evapotranspiración potencial (PED). El PED puede considerarse como un índice de sequía. Es la diferencia entre la cantidad de agua que potencialmente podría perderse del suelo a través de la evapotranspiración y la cantidad realmente disponible. Cuando el PED es elevado, las plantas no disponen de toda la cantidad de agua que necesitan para crecer.

In [24]:
%%sql sqlite://
SELECT YR, MO,  
PREC_mm as Precipitation, 
PET_mm as PET, 
PET_mm-PREC_mm as PED 
From watershed_monthly LIMIT 10

Done.

[(1981, 1, 96.2901611328125, 12.269017219543457, -84.02114391326904),
 (1981, 2, 160.22804260253906, 14.773177146911621, -145.45486545562744),
 (1981, 3, 136.6529083251953, 23.363500595092773, -113.28940773010254),
 (1981, 4, 118.85740661621094, 36.195560455322266, -82.66184616088867),
 (1981, 5, 84.54698181152344, 89.7725601196289, 5.225578308105469),
 (1981, 6, 44.83718490600586, 123.68331909179688, 78.84613418579102),
 (1981, 7, 32.325984954833984, 174.00889587402344, 141.68291091918945),
 (1981, 8, 20.65149688720703, 152.6374969482422, 131.98600006103516),
 (1981, 9, 16.57965660095215, 115.8529052734375, 99.27324867248535),
 (1981, 10, 59.67293167114258, 43.6953010559082, -15.977630615234375)]

También podemos calcular la relación entre el PED y la precipitación.

In [25]:
%%sql sqlite://
SELECT YR, MO,  PREC_mm as Precipitation, 
PET_mm as PET, 
(PET_mm-PREC_mm)/PREC_mm*100.0 as PED_Ratio 
From watershed_monthly LIMIT 10

Done.

[(1981, 1, 96.2901611328125, 12.269017219543457, -87.25828571143332),
 (1981, 2, 160.22804260253906, 14.773177146911621, -90.7799053730202),
 (1981, 3, 136.6529083251953, 23.363500595092773, -82.90303449708202),
 (1981, 4, 118.85740661621094, 36.195560455322266, -69.54707200351655),
 (1981, 5, 84.54698181152344, 89.7725601196289, 6.180679896716599),
 (1981, 6, 44.83718490600586, 123.68331909179688, 175.84987628255342),
 (1981, 7, 32.325984954833984, 174.00889587402344, 438.29418072534986),
 (1981, 8, 20.65149688720703, 152.6374969482422, 639.1110570914423),
 (1981, 9, 16.57965660095215, 115.8529052734375, 598.7654090904647),
 (1981, 10, 59.67293167114258, 43.6953010559082, -26.775340456351415)]

## Utilizar operadores matemáticos en una sentencia WHERE
Por ejemplo, podemos utilizar el operador de módulo (%) para filtrar las MO.

In [26]:
%%sql sqlite://
SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms 
From rch 
WHERE YR>2009 
and RCH=10 
and MO % 3 = 0

Done.

[(10, 2010, 3, 3.4298956394195557, 3.0846056938171387),
 (10, 2010, 6, 736.3016357421875, 734.9920654296875),
 (10, 2010, 9, 218.40797424316406, 218.24456787109375),
 (10, 2010, 12, 36.9558219909668, 36.877464294433594)]

## Realice algunas estadísticas con las funciones de agregación
Hasta ahora, hemos realizado operaciones matemáticas a través de las columnas de cada fila de una tabla. También podemos calcular un resultado a partir de valores dentro de la misma columna utilizando la función de agregación, que calcula un único resultado a partir de múltiples entradas. Dos de las funciones de agregación más utilizadas en el análisis de datos son avg() y sum().

### Promedio
avg - calcula la media de todos los valores de esa columna (omite los valores nulos).

In [27]:
%%sql sqlite://
SELECT avg(FLOW_INcms), avg(FLOW_OUTcms) 
From rch

Done.

[(559.361707683415, 557.2792260827198)]

### Suma
sum - calcula la suma de los valores de esa columna (omite los valores nulos).

In [28]:
%%sql sqlite://
SELECT sum(FLOW_INcms), sum(FLOW_OUTcms) 
From rch

Done.

[(4631514.939618677, 4614271.9919649195)]

### valores extremos
max - calcula el valor máximo de esa columna (omite los valores nulos).

min - calcula el valor mínimo en esa columna (omite los valores nulos).

In [29]:
%%sql sqlite://
SELECT min(FLOW_INcms), max(FLOW_OUTcms) 
From rch

Done.

[(0.20121553540229797, 10499.5498046875)]

### Calcular por nosotros mismos
Podemos calcular algunos valores mediante la combinación de estos operadores matemáticos. Por ejemplo, podemos calcular los valores medios de Flow_In y Flow_Out.

In [30]:
%%sql sqlite://
SELECT sum(FLOW_INcms)/COUNT(FLOW_INcms) as AVG_FlowIn, 
sum(FLOW_OUTcms)/COUNT(FLOW_OUTcms) as AVG_FlowOut
From rch

Done.

[(559.361707683415, 557.2792260827198)]

## Resumen
La agregación de datos (también conocida como agrupar, resumir o agrupar datos) consiste en crear algún tipo de total a partir de un número de registros. La suma, el mínimo, el máximo, el recuento y la media son operaciones de agregación habituales.

De hecho, el ejemplo anterior no presenta la verdadera potencia de estas funciones de agregación. Sólo serán más potentes cuando se utilicen con las cláusulas GROUP BY y ORDER BY.

## Agregación de datos con GROUP BY y ORDER BY
La cláusula GROUP BY es una cláusula opcional de la sentencia SELECT. La cláusula GROUP BY un grupo seleccionado de filas en filas de resumen por valores de una o más columnas.

La cláusula GROUP BY devuelve una fila por cada grupo. Para cada grupo, puede aplicar una función de agregación como MIN, MAX, SUM, COUNT o AVG para proporcionar más información sobre cada grupo.

### Agrupación de datos
Tomemos como ejemplo la tabla de rch

In [31]:
%sql SELECT * From rch LIMIT 3

 * sqlite:///data/demo.db3
Done.

[(1, 1981, 1, 146.34376525878906, 146.2524871826172, 0.09128088504076004, 0.0, 2.3320461650655488e-07, 61619.46484375, 155.3719024658203, 0.016086287796497345, 0.0, 0.04825887829065323, 0.0, 362.0486755371094, 361.8135070800781, 203.620849609375, 421.18377685546875, 0.0, 23.0184326171875, 0.016107244417071342, 0.0, 1.1839052307949238e-11, 0.0, 0.0, 0.0, 5627225.0, 5623486.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 806.0157470703125, 0.0, 0.0, 0.0),
 (2, 1981, 1, 96.22569274902344, 96.18285369873047, 0.042821284383535385, 0.0, 1.6426764659627224e-07, 0.0, 0.0, 0.01363153662532568, 0.0, 0.04089462012052536, 0.0, 315.60052490234375, 315.4579772949219, 0.0, 127.00502014160156, 0.0, 0.0, 0.013656049966812134, 0.0, 4.136972177163251e-16, 0.0, 0.0, 0.0, 3757606.5, 3698301.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 442.4630126953125, 0.0, 0.0, 0.0),
 (3, 1981, 1, 11.952718734741211, 11.861368179321289, 0.09135182946920395, 0.0, 2.0325823868461157e-07, 2.0325823868461157e-07, 6.595060941805286e-09, 0.01146628800779581, 0.0, 0.03439886122941971, 0.009118038229644299, 48.2963752746582, 47.93150329589844, 0.0, 62.467620849609375, 0.0, 0.0, 0.011485105380415916, 0.0, 5.941028783295818e-14, 0.0, 0.0, 0.0, 360979.90625, 456115.90625, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 110.39912414550781, 0.009118038229644299, 0.0, 0.0)]

## Comprobar los valores únicos
En primer lugar, echemos un vistazo al número de RCH. Podemos utilizar la palabra clave DISTINCT junto con la sentencia SELECT para eliminar todos los registros duplicados y obtener sólo los registros únicos.

In [32]:
%%sql sqlite://
SELECT COUNT(DISTINCT RCH) AS nRCH
FROM rch

Done.

[(23,)]

También podemos utilizar la cláusula **GROUP BY** para obtener una salida más limpia, con menos filas - sólo se devuelven los valores únicos.

In [34]:
%%sql sqlite://
SELECT RCH
FROM rch
GROUP BY RCH

Done.

[(1,),
 (2,),
 (3,),
 (4,),
 (5,),
 (6,),
 (7,),
 (8,),
 (9,),
 (10,),
 (11,),
 (12,),
 (13,),
 (14,),
 (15,),
 (16,),
 (17,),
 (18,),
 (19,),
 (20,),
 (21,),
 (22,),
 (23,)]

## Utilizar funciones de agregación en los grupos
Podemos obtener más detalles mediante la agregación de datos en grupos que en columnas completas.

In [35]:
%%sql sqlite://
SELECT RCH, AVG(FLOW_INcms), AVG(FLOW_OUTcms)
FROM rch
GROUP BY RCH

Done.

[(1, 631.8990093310674, 629.7380514648225),
 (2, 333.0202187087801, 332.79249324997267),
 (3, 152.36708157062532, 151.58638913697666),
 (4, 270.92289432916374, 270.5829954958624),
 (5, 933.1512839211358, 921.7582115385268),
 (6, 2700.088200208876, 2697.8029292848373),
 (7, 69.64315097878377, 68.53229562627091),
 (8, 1784.046529504988, 1776.2703920046488),
 (9, 1689.8438427501255, 1688.7743001672957),
 (10, 233.96010857224465, 233.50774793492423),
 (11, 1626.5236574543846, 1614.5366679032643),
 (12, 595.4463993251323, 594.3839241716597),
 (13, 485.0579067746798, 484.5191706750128),
 (14, 218.49423703187043, 218.45375338461665),
 (15, 78.63512668444051, 76.14785773319956),
 (16, 281.7426873054769, 280.69021704279714),
 (17, 37.79267790690064, 37.704887457564475),
 (18, 134.39293413791393, 133.76857711888022),
 (19, 84.25120316512054, 84.1577095127768),
 (20, 150.6475102369984, 150.41951570461194),
 (21, 65.17107435870501, 65.10127843287256),
 (22, 240.03635869224865, 238.23909225828118),
 (23, 68.185183768885, 67.95374260288146)]

## Ordenar/clasificar registros
En primer lugar, vamos a comprobar los años y meses con el máximo FLOW_INcms

In [36]:
%%sql sqlite://
SELECT RCH, YR, MO, MAX(FLOW_INcms)
FROM rch
GROUP BY RCH

Done.

[(1, 1997, 7, 3758.952392578125),
 (2, 1997, 7, 1820.2337646484375),
 (3, 1981, 5, 871.1177368164062),
 (4, 1997, 7, 1919.5400390625),
 (5, 1997, 7, 3961.945068359375),
 (6, 1992, 6, 10503.7236328125),
 (7, 1992, 3, 352.1608581542969),
 (8, 1994, 5, 7693.54345703125),
 (9, 1994, 5, 7507.53515625),
 (10, 2010, 5, 1513.6510009765625),
 (11, 1994, 5, 7375.59814453125),
 (12, 2010, 5, 3167.544921875),
 (13, 1997, 6, 3291.47900390625),
 (14, 1997, 6, 1798.0953369140625),
 (15, 2010, 2, 445.2956848144531),
 (16, 1999, 5, 1628.8758544921875),
 (17, 1995, 6, 226.17861938476562),
 (18, 1997, 6, 1161.7515869140625),
 (19, 1997, 6, 637.0214233398438),
 (20, 1996, 6, 1081.8587646484375),
 (21, 1997, 6, 590.9754638671875),
 (22, 1997, 6, 1428.43603515625),
 (23, 1997, 6, 604.881103515625)]

Es obvio que las columnas de año y mes no están en una ordenación natural. Este es un buen momento para sacar a relucir el operador ORDER BY, que se puede poner al final de un estado SQL (después de cualquier WHERE y GROUP BY). Podemos ordenar los resultados de la consulta por año y luego por mes.

In [37]:
%%sql sqlite://
SELECT RCH, YR, MO, ROUND(MAX(FLOW_INcms),2)
FROM rch
GROUP BY RCH
ORDER BY YR, MO

Done.

[(3, 1981, 5, 871.12),
 (7, 1992, 3, 352.16),
 (6, 1992, 6, 10503.72),
 (8, 1994, 5, 7693.54),
 (9, 1994, 5, 7507.54),
 (11, 1994, 5, 7375.6),
 (17, 1995, 6, 226.18),
 (20, 1996, 6, 1081.86),
 (13, 1997, 6, 3291.48),
 (14, 1997, 6, 1798.1),
 (18, 1997, 6, 1161.75),
 (19, 1997, 6, 637.02),
 (21, 1997, 6, 590.98),
 (22, 1997, 6, 1428.44),
 (23, 1997, 6, 604.88),
 (1, 1997, 7, 3758.95),
 (2, 1997, 7, 1820.23),
 (4, 1997, 7, 1919.54),
 (5, 1997, 7, 3961.95),
 (16, 1999, 5, 1628.88),
 (15, 2010, 2, 445.3),
 (10, 2010, 5, 1513.65),
 (12, 2010, 5, 3167.54)]

Por defecto, el orden se realiza con el operador ASC, que ordena los datos de forma ascendente. Podemos ordenar en orden descendente aplicando el operador DESC.

In [38]:
%%sql sqlite://
SELECT RCH, YR, MO, ROUND(MAX(FLOW_INcms),2)
FROM rch
GROUP BY RCH
ORDER BY YR DESC, MO

Done.

[(15, 2010, 2, 445.3),
 (10, 2010, 5, 1513.65),
 (12, 2010, 5, 3167.54),
 (16, 1999, 5, 1628.88),
 (13, 1997, 6, 3291.48),
 (14, 1997, 6, 1798.1),
 (18, 1997, 6, 1161.75),
 (19, 1997, 6, 637.02),
 (21, 1997, 6, 590.98),
 (22, 1997, 6, 1428.44),
 (23, 1997, 6, 604.88),
 (1, 1997, 7, 3758.95),
 (2, 1997, 7, 1820.23),
 (4, 1997, 7, 1919.54),
 (5, 1997, 7, 3961.95),
 (20, 1996, 6, 1081.86),
 (17, 1995, 6, 226.18),
 (8, 1994, 5, 7693.54),
 (9, 1994, 5, 7507.54),
 (11, 1994, 5, 7375.6),
 (7, 1992, 3, 352.16),
 (6, 1992, 6, 10503.72),
 (3, 1981, 5, 871.12)]

## Filtrar datos sobre grupos con la cláusula HAVING
A veces, podemos querer filtrar los registros basándonos en un grupo o en un valor agregado. Aunque el primer instinto podría ser utilizar una sentencia WHERE, en realidad esto no funcionará porque el WHERE filtra los registros y no filtra las agregaciones. Por ejemplo, intentamos utilizar un WHERE para filtrar los resultados en los que MAX(FLOW_INcms) es mayor que 3000. Esto obtendrá un sqlite3.OperationalError de uso incorrecto del agregado.

In [39]:
%%sql sqlite://
SELECT RCH, YR, MO, MAX(FLOW_INcms) as MAX_FLOWIN
FROM rch
WHERE MAX_FLOWIN > 3000.0
GROUP BY RCH
ORDER BY YR DESC, MO

(sqlite3.OperationalError) misuse of aggregate: MAX()
[SQL: SELECT RCH, YR, MO, MAX(FLOW_INcms) as MAX_FLOWIN
FROM rch
WHERE MAX_FLOWIN > 3000.0
GROUP BY RCH
ORDER BY YR DESC, MO]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

En este caso, podemos utilizar la cláusula HAVING para especificar una condición de filtro para un grupo o un agregado. La cláusula HAVING es una cláusula opcional de la sentencia SELECT. A menudo se utiliza la cláusula HAVING con la cláusula GROUP BY. La cláusula GROUP BY agrupa un conjunto de filas en un conjunto de filas de resumen o grupos. A continuación, la cláusula HAVING filtra los grupos en función de las condiciones especificadas.

Hay que tener en cuenta que la cláusula HAVING debe seguir estrictamente la cláusula GROUP BY.

In [40]:

%%sql sqlite://
SELECT RCH, YR, MO, MAX(FLOW_INcms) as MAX_FLOWIN
FROM rch
GROUP BY RCH
HAVING MAX_FLOWIN > 3000.0
ORDER BY YR DESC, MO

Done.

[(12, 2010, 5, 3167.544921875),
 (13, 1997, 6, 3291.47900390625),
 (1, 1997, 7, 3758.952392578125),
 (5, 1997, 7, 3961.945068359375),
 (8, 1994, 5, 7693.54345703125),
 (9, 1994, 5, 7507.53515625),
 (11, 1994, 5, 7375.59814453125),
 (6, 1992, 6, 10503.7236328125)]

## Resumen
En este notebok hemos aprendido a utilizar el operador DISTINCT para obtener resultados distintos en nuestras consultas y eliminar los duplicados.

A continuación, hemos aprendido a agregar y ordenar los datos mediante GROUP BY y ORDER BY.

También hemos mostrado la potencia de las funciones de agregación SUM(), MAX(), MIN(), AVG() y COUNT().

Además, utilizamos la cláusula HAVING para filtrar campos agregados que no se pueden hacer con la cláusula WHERE.